.primary {
  color: #172b4d;
}

.secondary {
  color: #36b37e;
}

.landing {
  height: 75vh;
}

.landing .button {
  border: none;
  background-color: rgb(255, 255, 255);
}

.landing .button:hover {
  top: 50%;
  background-color: #f7f7f74f;
  border-radius: 25%;
  box-shadow: 0 0 2px 2px rgba(112, 112, 112, 0.486);
  transition: 0.5s;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.landing .button:active {
  background-color: #797979;
}

ul,
#social-links {
  list-style-type: none;
}

.project-sample-img {
  height: 20rem;
}

.projects .btn {
  background-color: #36b37e;
  border: none;
  height: 3rem;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  align-self: center;
}

.projects .btn:hover {
  background-color: #36b37fa1;
}

.badge {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.projects .badge {
  background-color: #ebf0ee;
  font-style: normal;
  color: #3a4a42;
}

.about-me .card {
  background-color: #ebf0ee;
}

.about-me .badge {
  background-color: #fff;
  color: #36b37e;
}

.about-me .btn {
  background-color: #36b37e;
  border: none;
  height: 3rem;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  align-self: center;
}
